/*
 * Created on Wed Sep 25 2019
 *
 * Copyright ©  2019 NarangCo.
 *
 * CSS FILE FOR CERTME Project
 */

 .info
 {
    display: flex;
     justify-content: center;
     align-items: center;
 }
 .social
 {
    display: flex;
     justify-content: center;
     align-items: center;
 }
 .social-icon
 {
    display: flex;
     justify-content: center;
     align-items: center;
 }
 .main-logo
 {
    display: flex;
     justify-content: center;
     align-items: center;
     
 }

 body
 {
    font-family: 'Raleway', sans-serif;
 }
 
 .access-card
 {
    padding:5%;
    box-shadow: 0px 0px 10px darkgray;
    border-radius: 10px;
 }




/*http://jsfiddle.net/myajouri/pkm5r/*/

 .heading-text {
   position: relative;
}

.heading-text span {
   background-color: white;
   color: darkgray;
   padding-right: 10px;
}

.heading-text:after {
   content:"";
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 0.5em;
   border-top: 1px solid darkgray;
   z-index: -1;
}

.box-container
{
   display: flex;
   justify-content: space-between;
}
.box
{
   text-align: center;
   border-radius:10px;
   padding:3% 5%;
   background-color: lightsalmon;
}
.box:nth-child(even)
{
   background-color: lightseagreen;
}

.test
{
   display: block;
   padding: 3%;
   box-shadow: 0 0  5px gray;
   border-radius:15px;
   margin:2% 0px;

}
.test-heading
{
   font-size: 28px;
}

.test-description
{
   margin-top:5px; 
   margin-bottom:5px; 
}
.test-time-count
{
   margin-top:5px; 
   margin-bottom:5px; 
   color:red;
}

.test-board
{
   display: block;
   padding: 3%;
   box-shadow: 0 0  5px gray;
   border-radius:15px;
   margin:2% 0px;
}

.question
{
   display: block;
   padding: 3%;
   box-shadow: 0 0  5px gray;
   border-radius:15px;
   margin:2% 0px;
   min-width: 100% !important;
}


.score
{
   text-align:center;
   font-size: 5em;
   

}
.score::after
{
   content: "%";
}